.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background: #000 url(../img/card-back.png) 0 0 no-repeat;
}

.covered img {
  display: none;
}

.hand {
  overflow: auto;
}
